@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
html {
  font-family: "Rubik", sans-serif;
}

html body {
  background: #0f1424;
  min-height: 1235px;
  height: auto;
  width: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  html body {
    width: auto;
    min-width: 768px;
    min-height: 1024px;
    height: auto;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  html body {
    width: 1440px;
    min-height: 768px;
    max-height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

html body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  height: auto;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  html body main {
    width: 1110px;
    height: 518px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

html body main section.profile {
  margin-top: 105px;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  html body main section.profile {
    margin: 0;
  }
}

html body main section.profile .card.report-fort {
  height: 203px;
  width: 327px;
  background-color: #1c204b;
  border-radius: 15px;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  html body main section.profile .card.report-fort {
    width: 255px;
    height: 518px;
  }
}

html body main section.profile .card.report-fort .info-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 133px;
  background-color: #5847eb;
  border-radius: 15px;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  html body main section.profile .card.report-fort .info-profile {
    height: 354px;
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 32px;
  }
}

html body main section.profile .card.report-fort .info-profile img {
  width: 64px;
  height: 64px;
  border: 3px solid white;
  border-radius: 50px;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  html body main section.profile .card.report-fort .info-profile img {
    height: 78px;
    width: 78px;
  }
}

html body main section.profile .card.report-fort .info-profile .name-report {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  html body main section.profile .card.report-fort .info-profile .name-report {
    height: 139px;
    width: 116px;
  }
}

html body main section.profile .card.report-fort .info-profile .name-report h2,
html body main section.profile .card.report-fort .info-profile .name-report h6 {
  margin: 0;
}

html body main section.profile .card.report-fort .info-profile .name-report h2 {
  font-weight: 400;
  font-size: 15px;
  line-height: 17.78px;
  color: #bbc0ff;
}

html body main section.profile .card.report-fort .info-profile .name-report h6 {
  font-weight: 300;
  font-size: 24px;
  line-height: 28.44px;
  color: #ffff;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  html body main section.profile .card.report-fort .info-profile .name-report h6 {
    font-size: 40px;
    line-height: 47.4px;
  }
}

html body main section.profile ul.different-temps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  margin-top: 24px;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  html body main section.profile ul.different-temps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  html body main section.profile ul.different-temps li {
    margin-top: 17px;
  }
}

html body main section.profile ul.different-temps li button {
  background: none;
  border: none;
  cursor: pointer;
  color: #7078c9;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.33px;
  text-align: center;
}

html body main section.information-tracking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  html body main section.information-tracking {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

html body main section.information-tracking .card {
  width: 327px;
  height: 160px;
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: right top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 24px;
  padding: 0;
}

html body main section.information-tracking .card#work {
  background-color: #ff8c66;
}

html body main section.information-tracking .card#play {
  background-color: #56c2e6;
}

html body main section.information-tracking .card#study {
  background-color: #ff5c7c;
}

html body main section.information-tracking .card#exercise {
  background-color: #4acf81;
}

html body main section.information-tracking .card#social {
  background-color: #7536d3;
}

html body main section.information-tracking .card#self-care {
  background-color: #f1c65b;
  margin-bottom: 84px;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  html body main section.information-tracking .card {
    height: 244px;
    width: 255px;
  }
}

html body main section.information-tracking .card .data {
  width: 327px;
  height: 122px;
  background-color: #1c204b;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  html body main section.information-tracking .card .data {
    height: 199px;
    width: 255px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

html body main section.information-tracking .card .data:hover {
  background-color: #33397a;
}

html body main section.information-tracking .card .data .titre-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 279px;
  height: 22px;
  margin-bottom: 6px;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  html body main section.information-tracking .card .data .titre-data {
    height: 22px;
    width: 195px;
    margin: auto;
  }
}

html body main section.information-tracking .card .data .titre-data p {
  font-weight: 500;
  font-size: 18px;
  line-height: 21.33px;
  margin: 0;
}

html body main section.information-tracking .card .data .titre-data img {
  cursor: pointer;
}

html body main section.information-tracking .card .data .data-timeframes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 38px;
  width: 279px;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  html body main section.information-tracking .card .data .data-timeframes {
    height: 22px;
    width: 195px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: auto;
  }
}

html body main section.information-tracking .card .data .data-timeframes p:first-child {
  font-weight: 300;
  font-size: 32px;
  line-height: 37.92px;
  margin: 0;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  html body main section.information-tracking .card .data .data-timeframes p:first-child {
    font-size: 56px;
    margin-bottom: 8px;
  }
}

html body main section.information-tracking .card .data .data-timeframes p:last-child {
  font-weight: 400;
  font-size: 15px;
  line-height: 17.78px;
  text-align: right;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */